<!DOCTYPE html>
<html lang="es">

<head>
    {% block head %}
    <meta charset="utf-8" />
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block styles %}
    <!-- Bootstaps CSS -->
    {{ bootstrap.load_css() }}


    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}

</head>

<body>
    {% block navbar %}{% endblock %}
    {% block content %}{% endblock %}
    {% block scripts %}
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>




<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}"> -->